.student-container {
    text-align: center;
    padding: 20px;
}

.logout-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #0056b3;
}

.grades-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003366;
    padding: 20px;
}

.year-container {
    width: 80%;
    background-color: #003366;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.grades-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

.grades-table th,
.grades-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.grades-table th {
    background-color: #003366;
    color: white;
}

.average-grade {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}
.highlight-current-class {
    border: 2px solid #28a745; /* Зелен цвят за текущия клас */
    background-color: #209D5E; /* Светлозелен фон за текущия клас */
}

