/* Променяме цвета на всички текстове на бял */
.students-container,
.student-info p,
.grades-table th,
.grades-table td,
.final-grade p,
.yearly-grade p {
  color: white; /* Бял цвят за текста */
}

/* Стилове за таблицата с оценки */
.grades-table th {
  background-color: #003366; /* Тъмносин фон за заглавията на таблицата */
  color: white; /* Бял текст в заглавията */
}

.back-button {
  background-color: #003366; /* Тъмносин бутон */
  color: white; /* Бял текст */
}

.edit-button {
  background-color: #28a745;
  color: white;
}

.grade-button {
  background-color: #003366; /* Тъмносин бутон за оценките */
  color: white;
}

.grade-button:hover {
  background-color: #003366; /* По-тъмен тъмносин при hover */
}

/* Променяме фона на контейнера на светлосин */
.students-container {
  background-color: #0F52BA; /* Светлосин фон */
  padding: 20px;
  text-align: center;
}
