    .menu-container {
        background-color: #e0f7fa;
        padding: 20px;
        text-align: center;
      }

      .menu-container h2 {
        color: #007bff;
      }

      .menu-container button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
