.profile-container {
    background-color: #e0f7fa; /* Светло син фон */
    padding: 20px;
    text-align: center;
  }
  
  .profile-box {
    background-color: #fff; /* Бял фон за кутията */
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-box p {
    text-align: left;
    margin: 10px 0;
  }
  
  .profile-box p strong {
    display: inline-block;
    width: 150px;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  